<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/88eeeda4-f269-45f0-97b9-fe7ae9133ac5/resourcegroups/ChatGPTInteractionAPI20240805174824ResourceGroup/providers/Microsoft.Web/sites/ChatGPTInteractionAPI</ResourceId>
    <ResourceGroup>ChatGPTInteractionAPI20240805174824ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/88eeeda4-f269-45f0-97b9-fe7ae9133ac5/resourceGroups/ChatGPTInteractionAPI20240805174824ResourceGroup/providers/Microsoft.ApiManagement/service/ChatGPTInteractionAPIapi/apis/ChatGPTInteractionAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://chatgptinteractionapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8ba77e28-6fb7-4eeb-bdc8-a1095137227b</ProjectGuid>
    <MSDeployServiceURL>chatgptinteractionapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ChatGPTInteractionAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ChatGPTInteractionAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>